.venv/
venv/
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
dist/
build/
.pytest_cache/
.mypy_cache/
.idea/
.vscode/
*.iml
node_modules/
reports/
!reports/.gitkeep
*.log
.env
devsu-exercise.zip
.DS_Store
Thumbs.db
